@import "variables.scss";
@import "mixins.scss";
@import "normilize.scss";

main{
	@include vh-100;
	position: relative;
	&.bg-gradient{
		background: linear-gradient(to right, #6369d7, #9767cb);
	}
	&.bg-light{
		background: $mainBg;
	}
}
header{
	&.navbar-fixed{
		height: 85px;
	}
	nav{
		background-color: $backColor;
		box-shadow: none;
		border-bottom: 1px solid $lineColor;
		height: 85px;
		line-height: 85px;
		.logo{
			@include logo;
			@include mq(992px){
				float: right;
				margin-right: 15px;
			}
		}
		.nav-wrapper{
			float: right;
			ul{
				.languages{
					margin-top: 15px;
				}
				li{
					a{
						color: $menuTextCol;
						font-size: 18px;
					}
				}
			}
		}
		.notifications{
			&>ul{
				li{
					a{
						&:hover{
							background: transparent;
						}
						img{
							width: 17px;
							height: 85px;
							display: block;
							margin: 0 5px;
						}
					}
				}
			}
		}
		#responsive-nav{
			/*float: left;*/
			z-index: -1;
		}
	}
}

.login-wrapper{
	@include vh-100;
	img{
		@include gradient-img;
	    &#img-binoculars{
	    	top: 20px!important;
	    }
	}
	.tabs{
		background: transparent;
		&.login-registration-tabs{
			margin-top: 16%;
			li{
				a{
					color: white;
					font-size: 20px;
					padding: 0;
					&.active{
						color: white;
						background-color: transparent!important;
					}
					&:hover{
						color: white!important;
					}
				}
			}
			.indicator{
				background-color: $blueLine;
			}
		}
		&.registration-types{
			margin-top: 15px;
			text-align: center;
			li{
				margin-right: 15px;
				a{
					color: rgba(246, 240, 255, 0.78);
					font-size: 14px;
					padding: 0;
					&.active{
						color: #331e51;
					}
					&:focus{
						background-color: transparent!important;
						color: #331e51;
					}
				}
			}
			.indicator{
				display: none;
			}
		}
	}
	#login-form{
		form{
			margin-top: 15px;
			@include form-fields;
		}
	}
	#person-form{
		form{
			@include form-fields;
			margin-bottom: 30px;
		}
	}
	#company-form{
		form{
			@include form-fields;
			margin-bottom: 30px;
		}
	}
}

#rules-modal{
	border-radius: 10px;
	.modal-content{
		padding: 45px;
		div{
			overflow: hidden;
			height: 40vh;
			overflow-y: scroll;
			padding: 0 20px 0 0;
			&::-webkit-scrollbar {
			    width: 8px;
			}
			 
			&::-webkit-scrollbar-track {
				border: 1px solid rgba(204, 194, 228, 0.2);
    			border-radius: 10px;
			}
			 
			&::-webkit-scrollbar-thumb {
				background-color: rgba(79, 43, 165, 0.4);
				outline: 1px solid rgba(79, 43, 165, 0.4);
				border-radius: 10px;
			}
		}
	}
	.rules-agree-btn{
		color: white;
	}
}

.about-wrapper{
	img{
		width: 50%;
	    margin-left: 50%;
	    transform: translateX(-50%);
	    margin-top: -15%;
	}
	.about-descr{
		margin: 30px 0;
		color: white;
		text-align: justify;
	}
}

.contact-wrapper{
	.tape{
		@include vh-100;
		justify-content: center;
		@include mq(992px){
			min-height: unset;
		}
		img{
			width: 80%;
			@include mq(992px){
				width: 50%;
			    margin-left: 50%;
			    transform: translateX(-50%);
			    margin-top: -6%;
			}
		}
	}
	.contact{
		@include vh-100;
		justify-content: center;
		@include mq(992px){
			min-height: unset;
		}
		form{
			.input-field{
				textarea{
					height: 150px;
				}
			}
		}
	}
	.contact-info{
		bottom: 15px;
		left: 15px;
		@include mq(992px){
			position: unset;
			text-align: center;
			padding: 15px 0;
		}
		span{
			color: $formColor;
			margin-right: 15px;
			font-size: 13px;
			a{
				color: $formColor;
			}
		}
	}
}

.profile-edit{
	padding-top: 80px;
	.profile-img{
		@include logo;
		margin: 0 0 15px 0;
	}
	.row{
		&:first-child{
			margin-bottom: 40px;
		}
	}
	.title{
		display: block;
		color: $formColor;
		.pencil{
			@include pencil;
			margin-left: 5px;
		}

		&:hover{
			color: #e7d9fd;
		}
	}
	form{
		input{
			color: $formColor;
			&:disabled{
				border-bottom: 1px solid $formColor!important;
			}
			position: relative;
		}
	}
}


.aside-menu{
	position: fixed;
	height: calc(100vh - 85px);
	top: 85px;
	width: 200px;
	z-index: 100;
	.aside-menu-btn{
		top: calc((60px - 36px) / 2 );
	    width: 36px;
	    height: 36px;
	    background: transparent url('../../assets/img/aside-menu.svg');
	    border: none;
	    cursor: pointer;
	    position: absolute;
	    left: 22px;
	    transition: .5s ease;
	    z-index: 10;
	    &.active{
	    	transform: rotate(-180deg);
	    	left: 150px;
	    }
	    &.active + ul{
	    	transform: translateX(0);
	    }
	}
	ul{
		background: #331e51;
		height: 100%;
		padding-top: 60px;
		position: absolute;
		transform: translateX(-100%);
		width: 100%;
		transition: 0.5s ease;
		li{
			a{
				color: white;
				display: block;
			    width: 100%;
			    padding: 10px 20px;
			    &.active{
			    	color: rgb(124, 101, 170);
			    }
			}
		}
	}
}

.notifications{
	ul{
		li{
			position: relative;
			&.dropdown-notification{
				&:hover .header-notifications{
					display: inline-flex;
				}
			}
			&.alarm-notification{
				&:hover .header-notifications{
					display: inline-flex;
				}
			}
		}
	}
	.header-notifications{
		position: absolute;
		width: 300px;
		background: $notificationColor;
		left: -15px;
		top: 70px;
		display: inline-flex;
		border-radius: 30px;
		display: none;
		ul{
			padding: 35px 0 15px 0;
			display: inline-block;
			position: relative;
			&:after{
			    content: '';
			    border-style: solid;
			    border-width: 0 15px 13px 15px;
			    border-color: transparent transparent #e5def9 transparent;
			    position: absolute;
			    top: -13px;
			    left: 30px;
			    @include mq(992px){
			    	left: unset;
			    	right: 145px;
			    }
			}
			li{
				line-height: 13px;
			    padding: 10px 12px;
			    background: rgba(124, 101, 170, 0.2);
			    margin: 5px 0;
			    &>a{
			    	display: flex;
				    align-items: center;
				    justify-content: center;
				    padding: 0;
			    }
			    &:last-child{
			    	float: right;
			    	background: transparent;
			    	padding: 0;
			    	a{
						margin-right: 10px;
						background: #7c65aa;
						border-radius: 20px;
						font-size: 13px;
						height: 21px;
						line-height: 22px;
						padding: 0 10px;
			    	}
			    }
			    p{
			   		height: 25px;
   					overflow: hidden;
   					color: rgba(0, 0, 0, 0.5);
			    }
			    div{
			    	height: 30px;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    margin-right: 15px;
			    	img{
			    		width: 30px;
			    		height: 30px;
			    		border-radius: 50%;
			    	}
			    }
			}
		}
		@include mq(992px){
			left: unset;
    		right: -100%;
    		transform: translateX(25%);
		}
	}
	.alarm-notification{
		.header-notifications{
			@include mq(992px){
				transform: translateX(6%);
			}
			ul{
				&:after{
					@include mq(992px){
			    		right: 88px;
			    	}
				}
			}	
		}
	}
}



.statements{
	padding-top: 70px;
	&>div{
		padding: 0 30px!important;
		&:first-child{
			.each-block{
				padding: 0!important;
				a{
					background-color: none;
					border: none;
					img{
						width: 30px;
					}
				}
			}
		}
	}
	.each-block{
		background-color: $statementBg;
		border-radius: 30px;
		height: 230px;
		display: grid;
		align-items: center;
		justify-content: center;
		padding: 20px 0 0 0;
		margin-bottom: 85px;
		&>div{
			overflow: hidden;
			padding: 0 10px;
		}
		.header{
			height: 20px;
			color: rgba(51, 30, 81, 0.9);
		}
		.title{
			height: 20px;
			color: $menuTextCol;
		}
		.descr{
			height: 40px;
			color: $menuTextCol;
		}
		button{
			&.full{
			    text-transform: unset;
	    		padding: 0 15px;
			}
			&.close{				
				background: none;
				border: none;
				top: 15px;
				right: 15px;
				width: 13px;
				transition: .3s ease;
				cursor: pointer;
				&:hover{
					transform: scale(1.1);
				}
			}
		}
	}
}

.offers{
	padding-top: 70px;
	&>div{
		padding: 0 70px!important;
		@include mq(1200px){
			padding: 0 30px!important;
		}
	}
	.each-block{
		height: 500px;
		margin-bottom: 50px;
		background-color: $statementBg;
		border-radius: 30px;
		.header{
			padding: 20px 0;
			color: rgba(51, 30, 81, 0.9);
		}
		.title{
			height: 45px;
			overflow: hidden;
			color: $menuTextCol;
		}
		.descr{
			font-size: 30px;
			color: rgba(51, 30, 81, 0.9);
		}
	}
}