$lineColor: rgba(40, 21, 62, 0.5);
$backColor: #f6f0ff;
$menuTextCol: rgba(0, 0, 0, 0.5);
$blueLine: #1e1ee2;
$formColor: #f6f0ff;
$btnColor: rgba(#4f2ba5, 0.4);

$small: 		'600px';
$medium: 		'992px';
$large: 		'1200px';
$mobileSmall:  	'480px';