* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: regular; }

@font-face {
  font-family: regular;
  src: url(../fonts/bpgNinoMtavruliNormal.woff); }

.row {
  margin-bottom: 0px; }

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #f6f0ff; }

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f6f0ff;
  -webkit-box-shadow: 0 1px 0 0 #f6f0ff;
  box-shadow: 0 1px 0 0 #f6f0ff; }

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #f6f0ff; }

.input-field {
  margin-bottom: 0; }

.btn {
  background: rgba(79, 43, 165, 0.4);
  border-radius: 15px;
  padding: 0px 15px;
  font-size: 15px;
  font-family: regular;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 30px;
  font-size: 13px;
  line-height: 34px; }

.btn:hover {
  background-color: rgba(79, 43, 165, 0.68); }

.select-wrapper input.select-dropdown {
  border: none;
  width: 56px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 15px; }

.select-wrapper .caret {
  right: 14px;
  top: 2px; }

.select-wrapper input.select-dropdown:focus {
  border-bottom: none; }

.dropdown-content li > a,
.dropdown-content li > span {
  color: rgba(40, 21, 62, 0.5); }

.m-0 {
  margin: 0 !important; }

.m-t-40 {
  margin-top: 40px !important; }

.p-0 {
  padding: 0 !important; }

.full-width {
  width: 100%;
  margin: 0;
  max-width: 100%; }

.pos-rel {
  position: relative; }

.pos-abs {
  position: absolute; }

.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }

label {
  color: #f6f0ff !important;
  font-size: 13px !important; }

#responsive-nav {
  display: block;
  position: relative;
  top: calc((85px - 32px)/2);
  left: 0;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#responsive-nav input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 15px;
  pointer-events: unset;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none; }

#responsive-nav span:before {
  content: unset; }

#responsive-nav span {
  display: block;
  left: 15px;
  width: 35px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #331e51;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#responsive-nav span:first-child {
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#responsive-nav span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

#responsive-nav input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
  -ms-transform: rotate(45deg) translate(-2px, -1px);
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

#responsive-nav input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
  -ms-transform: rotate(0deg) scale(0.2, 0.2);
  transform: rotate(0deg) scale(0.2, 0.2); }

#responsive-nav input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
  -ms-transform: rotate(-45deg) translate(0, -1px);
  transform: rotate(-45deg) translate(0, -1px); }

#resp-menu {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  background: rgba(51, 30, 81, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  height: calc(100vh - 85px); }

#resp-menu li {
  width: 100%; }

#resp-menu li a {
  color: white;
  font-size: 16px;
  text-align: center; }

#resp-menu li.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#resp-menu li.languages a {
  float: left; }

#responsive-nav input:checked ~ ul {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

#rules-modal-btn {
  margin-left: 5px; }

main {
  min-height: calc(100vh - 85px); }
  main.bg-gradient {
    background: -webkit-gradient(linear, left top, right top, from(#6369d7), to(#9767cb));
    background: -webkit-linear-gradient(left, #6369d7, #9767cb);
    background: -o-linear-gradient(left, #6369d7, #9767cb);
    background: linear-gradient(to right, #6369d7, #9767cb); }

header.navbar-fixed {
  height: 85px; }

header nav {
  background-color: #f6f0ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid rgba(40, 21, 62, 0.5);
  height: 85px;
  line-height: 85px; }
  header nav .nav-wrapper {
    float: right; }
  header nav .logo {
    width: 55px;
    height: 55px;
    display: inline-block;
    background: #331e51;
    margin: 15px 0 0 15px; }
    @media only screen and (max-width: 992px) {
      header nav .logo {
        float: right;
        margin-right: 15px; } }
  header nav ul .languages {
    margin-top: 15px; }
  header nav ul li a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px; }

.login-wrapper {
  min-height: calc(100vh - 85px); }
  .login-wrapper img {
    top: -45px;
    width: 50%;
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .login-wrapper img#img-binoculars {
      top: 20px !important; }
  .login-wrapper .tabs {
    background: transparent; }
    .login-wrapper .tabs.login-registration-tabs {
      margin-top: 16%; }
      .login-wrapper .tabs.login-registration-tabs li a {
        color: white;
        font-size: 20px;
        padding: 0; }
        .login-wrapper .tabs.login-registration-tabs li a.active {
          color: white;
          background-color: transparent !important; }
        .login-wrapper .tabs.login-registration-tabs li a:hover {
          color: white !important; }
      .login-wrapper .tabs.login-registration-tabs .indicator {
        background-color: #1e1ee2; }
    .login-wrapper .tabs.registration-types {
      margin-top: 15px;
      text-align: center; }
      .login-wrapper .tabs.registration-types li {
        margin-right: 15px; }
        .login-wrapper .tabs.registration-types li a {
          color: rgba(246, 240, 255, 0.78);
          font-size: 14px;
          padding: 0; }
          .login-wrapper .tabs.registration-types li a.active {
            color: #331e51; }
          .login-wrapper .tabs.registration-types li a:focus {
            background-color: transparent !important;
            color: #331e51; }
      .login-wrapper .tabs.registration-types .indicator {
        display: none; }
  .login-wrapper #login-form form {
    margin-top: 15px; }
    .login-wrapper #login-form form .input-field input {
      width: 100%; }
    .login-wrapper #login-form form .input-field > label {
      color: rgba(246, 240, 255, 0.74);
      font-size: 14px; }
  .login-wrapper #person-form form .input-field input {
    width: 100%; }
  .login-wrapper #person-form form .input-field > label {
    color: rgba(246, 240, 255, 0.74);
    font-size: 14px; }
  @media only screen and (max-width: 992px) {
    .login-wrapper #person-form form {
      margin-bottom: 30px; } }
  .login-wrapper #company-form form .input-field input {
    width: 100%; }
  .login-wrapper #company-form form .input-field > label {
    color: rgba(246, 240, 255, 0.74);
    font-size: 14px; }
  @media only screen and (max-width: 992px) {
    .login-wrapper #company-form form {
      margin-bottom: 30px; } }

#rules-modal {
  border-radius: 10px; }
  #rules-modal .modal-content {
    padding: 45px; }
    #rules-modal .modal-content div {
      overflow: hidden;
      height: 50vh;
      overflow-y: scroll;
      padding: 0 20px 0 0; }
      #rules-modal .modal-content div::-webkit-scrollbar {
        width: 8px; }
      #rules-modal .modal-content div::-webkit-scrollbar-track {
        border: 1px solid rgba(204, 194, 228, 0.2);
        border-radius: 10px; }
      #rules-modal .modal-content div::-webkit-scrollbar-thumb {
        background-color: rgba(79, 43, 165, 0.4);
        outline: 1px solid rgba(79, 43, 165, 0.4);
        border-radius: 10px; }
  #rules-modal .rules-agree-btn {
    color: white; }

.about-wrapper img {
  width: 50%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -15%; }

.about-wrapper .about-descr {
  margin: 30px 0;
  color: white;
  text-align: justify; }

.contact-wrapper .tape {
  min-height: calc(100vh - 85px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 992px) {
    .contact-wrapper .tape {
      min-height: unset; } }
  .contact-wrapper .tape img {
    width: 80%; }
    @media only screen and (max-width: 992px) {
      .contact-wrapper .tape img {
        width: 50%;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-top: -6%; } }

.contact-wrapper .contact {
  min-height: calc(100vh - 85px);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media only screen and (max-width: 992px) {
    .contact-wrapper .contact {
      min-height: unset; } }
  .contact-wrapper .contact form .input-field textarea {
    height: 150px; }

.contact-wrapper .contact-info {
  bottom: 15px;
  left: 15px; }
  @media only screen and (max-width: 992px) {
    .contact-wrapper .contact-info {
      position: unset;
      text-align: center;
      padding: 15px 0; } }
  .contact-wrapper .contact-info span {
    color: #f6f0ff;
    margin-right: 15px;
    font-size: 13px; }
    .contact-wrapper .contact-info span a {
      color: #f6f0ff; }

.profile-edit {
  padding-top: 80px; }
  .profile-edit .profile-img {
    width: 55px;
    height: 55px;
    display: inline-block;
    background: #331e51;
    margin: 15px 0 0 15px;
    margin: 0 0 15px 0; }
  .profile-edit .row:first-child {
    margin-bottom: 40px; }
  .profile-edit .title {
    display: block;
    color: #f6f0ff; }
    .profile-edit .title .pencil {
      width: 12px;
      margin-left: 5px; }
    .profile-edit .title:hover {
      color: #e7d9fd; }
  .profile-edit form input {
    color: #f6f0ff;
    position: relative; }
    .profile-edit form input:disabled {
      border-bottom: 1px solid #f6f0ff !important; }
    .profile-edit form input::after {
      content: "* * *"; }
